.input{
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
}
.input input{
    display: block;
    width: 100%;
    bottom: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
}

.input h1{
    text-align: center;
}